html {
  --key_color: #7b7b7b;
  --key_shadow_color: #999;
  --key_pressed_color: #444;
}
body {
  background-color: #313131;

  color: whitesmoke;
  font-size: 18pt;
}
html,
body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 600px;
  height: 100%;
  margin: 0 auto;
}

.textbox {
  flex: 1;
  width: 90%;

  margin-bottom: 30px;
  margin-top: 120px;
  border-radius: 4px;
  padding: 10px;

  border: 1px solid whitesmoke;
  background-color: rgb(233, 233, 233);
}

.textbox textarea {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  resize: none;
  cursor: default;
  font-size: 16pt;
}

.keyboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 6px;
  margin-bottom: 12px;
}

.keyboard-row {
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 0 6px;
}

.keyboard-row:not(:last-of-type) {
  margin-bottom: 6px;
}

.row-wrapper {
  display: flex;
}

/* .row-wrapper > * {
  display: inline-block;
} */

.key {
  display: flex;
  /* flex-basis set by JS */
  height: 60px;

  justify-content: center;
  align-items: center;

  border-radius: 4px;
  background-color: var(--key_color);
  box-shadow: 0px 1px 0px 1px var(--key_shadow_color);

  color: whitesmoke;
  font-size: 18pt;
  text-align: center;

  user-select: none;
  cursor: pointer;
}

.key:not(:last-of-type) {
  margin-right: 6px;
}

.key.pressed {
  background-color: var(--key_pressed_color);
  box-shadow: 0px -1px 0px 1px var(--key_color);
}

.preview {
  /* Position (top/left) set by JS */
  position: absolute;
  width: 50px;
  height: 60px;
  line-height: 60px;
  text-align: center;

  background-color: var(--key_pressed_color);
  /* box-shadow: 0px -1px 0px 2px var(--key_shadow_color); */
  border-radius: 6px;

  pointer-events: none;
}

@media screen and (max-width: 450px) {
  .key {
    height: 50px;
  }
}
